body {
  font:
    13px/1.231 arial,
    helvetica,
    clean,
    sans-serif; /* YUI Font Reset */
  *font-size: small;
  *font: x-small;
  margin: 0;
  padding: 0;
  height: 100%;
  color: #444;
  line-height: 1.4;
}
